@{
    ViewData["Title"] = "Home Page";
}

<div>
    <form>
        <p class="text-dark">Введите сообщение: </p>
        <p><input type="text" maxlength="25" size="40" name="Message" /></p>
        <p>@ViewBag.Message</p>
    </form>
</div>
