@{
    ViewData["Title"] = "Start Page";
}
<div class="container">
    <div class="col-md-12">
        <a id="Start" class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Index">Start</a>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/TokenGetter.js"></script>
